<!--use x-palm-popup-content attribute in the div containing your main content so that
    only this will be drawn in the popup if the screen is locked-->
<div id="info" x-palm-popup-content="" class="alarmContent">
    <table width="100%" height="100%">
        <tr>
            <td width="100%" height="100%" align="center" valign="middle" style="text-align:center; vertical-align:bottom">
                <img src="icon.png"><br>
                Night Moves is applying settings
            </td>
        </tr>
    </table>
</div>
