<div class="palm-page-header dark">
	<div class="header-icon nightmoves"></div>
	  <div class="header-text">
		  <span x-mojo-loc=''>Night Moves</span>
	  </div>
  </div>

<div class="palm-group" style="margin-bottom:14px;">
	<div class="palm-group-title">
		<span x-mojo-loc="">Morning</span>
	</div>
	<div class="palm-list">
		<div class="first row">
			<table class="palm-list-section-label">
				<tr>
					<td style="padding-left:16px; padding-bottom:5px;">
						<span x-mojo-loc="" id="MornTimeLabel">Start at 6:30am</span>		
					</td>
					<td style="padding-top:2px;">
						<div id="att-toggle-Morn" x-mojo-element="ToggleButton" class="toggle-text">				
						</div>
					</td>	
				</tr>
			</table>
		</div>
		<div class="row" style="">
			<div class="title" style="">
				<span x-mojo-loc="" id="sldMornBrightLabel" title="Brightness" style="width:100%; margin:auto;">Brightness: 90%</span>
				<!--<div id="sldMornBright" x-mojo-element="Slider" style="margin-left: -12px; margin-top: 18px; margin-bottom: 8px; margin-right:auto"></div>-->
				<div x-mojo-element="Slider" id='sldMornBright' class="palm-slider"></div>
			</div>
		</div>
		<div class="last row" style="width:100%; margin:auto;">
			<div class="title">
				<span x-mojo-loc="" id="sldMornVolumeLabel" title="Volume">Volume: 80%</span> 
				<div id="sldMornVolume" x-mojo-element="Slider" style="margin-left: -12px; margin-top: 18px; margin-bottom: 8px;"></div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group" style="margin-bottom:14px;">
	<div class="palm-group-title">
		<span x-mojo-loc="">Evening</span>
	</div>
	<div class="palm-list">
		<div class="first row">
			<table class="palm-list-section-label">
				<tr>
					<td style="padding-left:16px; padding-bottom:5px;">
						<span x-mojo-loc="" id="EveTimeLabel">Start at 8:30pm</span>		
					</td>
					<td style="padding-top:2px;">
						<div id="att-toggle-Eve" x-mojo-element="ToggleButton" class="toggle-text">				
						</div>
					</td>	
				</tr>
			</table>
		</div>
		<div class="row" style="width:100%; margin:auto;">
			<div class="title">
				<span x-mojo-loc="" id="sldEveBrightLabel" title="Brightness">Brightness: 90%</span> 
				<div id="sldEveBright" x-mojo-element="Slider" style="margin-left: -12px; margin-top: 18px; margin-bottom: 8px;"></div>
			</div>
		</div>
		<div class="last row" style="width:100%; margin:auto;">
			<div class="title">
				<span x-mojo-loc="" id="sldEveVolumeLabel" title="Volume">Volume: 80%</span> 
				<div id="sldEveVolume" x-mojo-element="Slider" style="margin-left: -12px; margin-top: 18px; margin-bottom: 8px;"></div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group" style="margin-bottom:14px;">
	<div class="palm-group-title">
		<span x-mojo-loc="">Night</span>
	</div>
	<div class="palm-list">
		<div class="first row">
			<table class="palm-list-section-label">
				<tr>
					<td style="padding-left:16px; padding-bottom:5px;">
						<span x-mojo-loc="" id="NiteTimeLabel">Start at 10:30pm</span>		
					</td>
					<td style="padding-top:2px;">
						<div id="att-toggle-Nite" x-mojo-element="ToggleButton" class="toggle-text">				
						</div>
					</td>	
				</tr>
			</table>
		</div>
		<div class="row">
			<div class="title">
				<span x-mojo-loc="" id="sldNiteBrightLabel" title="Brightness">Brightness: 90%</span> 
				<div id="sldNiteBright" x-mojo-element="Slider" style="margin-left: -12px; margin-top: 18px; margin-bottom: 8px;"></div>
			</div>
		</div>
		<div class="last row">
			<div class="title">
				<span x-mojo-loc="" id="sldNiteVolumeLabel" title="Volume">Volume: 80%</span> 
				<div id="sldNiteVolume" x-mojo-element="Slider" style="margin-left: -12px; margin-top: 18px; margin-bottom: 8px;"></div>
			</div>
		</div>
	</div>
</div>

