<div class="palm-page-header">
	<div class="header-icon nightmoves"></div>
	  <div class="header-text">
		  <span x-mojo-loc=''>Night Moves</span>
	  </div>
</div>

<div class="palm-group" style="margin-bottom:14px;">
	<div class="palm-group-title">
		<span x-mojo-loc="">Morning</span>
	</div>
	<div class="palm-list">
		<div class="first row">
			<table class="palm-list-section-label" width="100%" style="width:100%">
				<tr>
					<td x-mojo-loc="" id="MornTimeTD" style="padding-left:16px; padding-bottom:5px; width:100%;" width="100%">
						<span x-mojo-loc="" id="MornTimeLabel" width="100%" style="width:100%;">Start at 6:30am</span>		
					</td>
					<td style="padding-top:2px;">
						<div id="att-toggle-Morn" x-mojo-element="ToggleButton" class="toggle-text">				
						</div>
					</td>	
				</tr>
			</table>
			<div x-mojo-element="Drawer" id="drawerMorn" class="drawerClass" name="drawerMorn">
				<div x-mojo-element="TimePicker" id="timePickerMorn" class="timepickerClass" name="timePickerMorn" style="margin-top: 18px;"></div>
				<div x-mojo-element="Button" id="btnMorn" class="buttonClass" name="btnMorn" style="margin-bottom: 18px;"></div>   
			</div> 
		</div>
		<div class="row">
			<div class="title">
				<span x-mojo-loc="" id="sldMornBrightLabel" title="Brightness" class="setting-group-slider-label">Brightness: 90%</span>
				<div id="sldMornBright" x-mojo-element="Slider" class="setting-group-slider"></div>
			</div>
		</div>
		<div class="last row" style="width:100%; margin:auto;">
			<div class="title">
				<span x-mojo-loc="" id="sldMornVolumeLabel" title="Volume" class="setting-group-slider-label">Volume: 80%</span> 
				<div id="sldMornVolume" x-mojo-element="Slider" class="setting-group-slider"></div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group" style="margin-bottom:14px;">
	<div class="palm-group-title">
		<span x-mojo-loc="">Evening</span>
	</div>
	<div class="palm-list">
		<div class="first row">
			<table class="palm-list-section-label">
				<tr>
					<td x-mojo-loc="" id="EveTimeTD" style="padding-left:16px; padding-bottom:5px; width:100%;">
						<span x-mojo-loc="" id="EveTimeLabel">Start at 8:30pm</span>		
					</td>
					<td style="padding-top:2px;">
						<div id="att-toggle-Eve" x-mojo-element="ToggleButton" class="toggle-text">				
						</div>
					</td>	
				</tr>
			</table>
			<div x-mojo-element="Drawer" id="drawerEve" class="drawerClass" name="drawerEve">
				<div x-mojo-element="TimePicker" id="timePickerEve" class="timepickerClass" name="timePickerEve" style="margin-top: 18px;"></div>
				<div x-mojo-element="Button" id="btnEve" class="buttonClass" name="btnEve" style="margin-bottom: 18px;"></div>   
			</div> 
		</div>
		<div class="row" style="width:100%; margin:auto;">
			<div class="title">
				<span x-mojo-loc="" id="sldEveBrightLabel" title="Brightness" class="setting-group-slider-label">Brightness: 90%</span> 
				<div id="sldEveBright" x-mojo-element="Slider" class="setting-group-slider"></div>
			</div>
		</div>
		<div class="last row" style="width:100%; margin:auto;">
			<div class="title">
				<span x-mojo-loc="" id="sldEveVolumeLabel" title="Volume" class="setting-group-slider-label">Volume: 80%</span> 
				<div id="sldEveVolume" x-mojo-element="Slider" class="setting-group-slider"></div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group" style="margin-bottom:14px;">
	<div class="palm-group-title">
		<span x-mojo-loc="">Night</span>
	</div>
	<div class="palm-list">
		<div class="first row">
			<table class="palm-list-section-label">
				<tr>
					<td x-mojo-loc="" id="NiteTimeTD" style="padding-left:16px; padding-bottom:5px; width:100%;">
						<span x-mojo-loc="" id="NiteTimeLabel">Start at 10:30pm</span>		
					</td>
					<td style="padding-top:2px;">
						<div id="att-toggle-Nite" x-mojo-element="ToggleButton" class="toggle-text">				
						</div>
					</td>	
				</tr>
			</table>
			<div x-mojo-element="Drawer" id="drawerNite" class="drawerClass" name="drawerNite">
				<div x-mojo-element="TimePicker" id="timePickerNite" class="timepickerClass" name="timePickerNite" style="margin-top: 18px;"></div>
				<div x-mojo-element="Button" id="btnNite" class="buttonClass" name="btnNite" style="margin-bottom: 18px;"></div>   
			</div> 
		</div>
		<div class="row">
			<div class="title">
				<span x-mojo-loc="" id="sldNiteBrightLabel" title="Brightness" class="setting-group-slider-label">Brightness: 90%</span> 
				<div id="sldNiteBright" x-mojo-element="Slider" class="setting-group-slider"></div>
			</div>
		</div>
		<div class="last row">
			<div class="title">
				<span x-mojo-loc="" id="sldNiteVolumeLabel" title="Volume" class="setting-group-slider-label">Volume: 80%</span> 
				<div id="sldNiteVolume" x-mojo-element="Slider" class="setting-group-slider"></div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group" style="margin-bottom:14px;">
	<div class="palm-group-title">
		<span x-mojo-loc="">Daily Options</span>
	</div>
	<div class="palm-list">
		<div class="first row">
			<table class="palm-list-section-label">
				<tr>
					<td x-mojo-loc="" id="NotificationOptionTD" style="padding-left:16px; padding-bottom:5px; width:100%;">
						<span x-mojo-loc="" id="NotificationOptionLabel">Toggle Notifications</span>		
					</td>
					<td style="padding-top:2px;">
						<div id="att-toggle-NotificationOption" x-mojo-element="ToggleButton" class="toggle-text">				
						</div>
					</td>	
				</tr>
			</table>
		</div>
		<div class="last row">
			<table class="palm-list-section-label">
				<tr>
					<td x-mojo-loc="" id="DataOptionTD" style="padding-left:16px; padding-bottom:5px; width:100%;">
						<span x-mojo-loc="" id="DataOptionLabel">Toggle Data Connections</span>		
					</td>
					<td style="padding-top:2px;">
						<div id="att-toggle-DataOption" x-mojo-element="ToggleButton" class="toggle-text">				
						</div>
					</td>	
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="explanation-text" x-mojo-loc="">
	If enabled, these settings will be turned off when the Night timer fires and back on when the Morning timer fires.
</div>

